.main {
    margin-bottom: 5em;
    min-height: 50vh;

    .article-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: 50px;
        min-height: 90px;
        position: relative;
    }
}
